.contador{
    min-width: 300px;
    height: 300px;
    font-size: 160px;
    padding: 25px;
    display: flex;
    color: brown;
    align-items: center;
    justify-content: center;
    border: 8px solid ;
}